.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 4rem 0;
  background-image: linear-gradient(160deg, #002642 0%, #840032 100%);

}

.title {
  line-height: 1.15;
  font-size: 4rem;
  color: #E5DADA;
  margin-bottom: 60px;
}

.buttonContainer{
  display: flex;
  flex-direction: row;
}

.button {
  background-color: #E5DADA;
  display: flex;
  flex-direction: column;
  height: 60px;
  width: 200px;
  border-radius: 20px;
  margin: 10px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}


.title a:hover, .title a:focus, .title a:active {
  text-decoration: underline;
}